@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Azure Skies.";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Skies</h1>
	<h4>Recieve flight status notifications by simply texting your flight number to +1-844-397-6066.</h4>
    <h4>As an example for flight: Delta Airlines 380, you should have a flight number similar to: DAL380.</h4>
	<h4>Your text message to +1-844-397-6066 only need to contain: DAL380, for Azure Skies to seemlessly keep you updated.</h4>
	<h4>This will subscribe you to Azure Skies flight notification service.</h4>
    <h4>Our flight notification service will automatically prompt you if the status of you flight has changed, keeping you effortlessly up to date.</h4>
    <h4>Once your flight has landed, you will recieve a final status notification, and be unsubscrived from the notifications.</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
