@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Azure Skies.";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Skies!</h1>
    <br />
    <br />
    <br />
    <br />
	<h4>Recieve flight status notifications by simply texting your flight number to +1-844-397-6066.</h4>
    <h4>As an example - Delta Airlines 380 should have a flight number similar to: DAL380.</h4>
    <br />
	<h4>Your text message to +1-844-397-6066 only need contain DAL380 for Azure Skies to seamlessly keep you updated.</h4>
	<h4>This will subscribe you to Azure Skies flight notification service.</h4>
    <br />
    <br />
    <h3>Our flight notification service will automatically prompt you if the status of you flight has changed, keeping you effortlessly up to date.</h3>
    <h4>Once your flight has landed, you will recieve a final status notification, as well as automatically unsubscribe from the requested flight.</h4>
    <br />
    <br />
    <br />
    <br />
    <p>Created By JB, BI && JC</p>
</div>
