@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Azure Skies.";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Skies!</h1>
    <br />
    <br />
    <br />
    <br />
	<h4>Recieve automatic, real-time flight status notifications by texting your flight number to +1-844-397-6066.</h4>
    <h4>For example - Delta Airlines 380 should have a flight number similar to: DAL380.</h4>
    <br />
    <br />
    <br />
    <br />
    <h4>Once your flight has landed, you will recieve a final status notification, as well as automatically unsubscribe from the requested flight.</h4>
    <br />
    <br />
    <br />
    <br />
    <p>Created By JB, BI && JC</p>
</div>
